name: CI - Build Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Run python sanity test
        run: python app/app.py

      - name: Build Docker image
        run: docker build -t devops-foundation-app .
